/* StarT Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* End Reset CSS */

/* Start Font CSS */

html {
    font-family: Helvetica, Arial, sans-serif;
}

/* End Font CSS */
/* Start Header CSS */
.header {
    height: 100px;
    background-color: #000;
        /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

/* End Header CSS */
/* Start Container CSS */

/* End Container CSS */
/* Start Footer CSS */

footer {
    height: 114px;
    width: 100%;
    margin-top: 30px;
}
footer hr {
    margin-bottom: 20px;
}

/* End Footer CSS */
/* Start Logo Text */
.logo {
    height: 56px;
    background: #fff;
}

.logo h2,
.logo h3 {
    margin-left: 83px;
}

.logo h2 {
    color: #007A87;
}

/* End Logo Text */

/* Start CSS Menu */

#nav {
    display: inline-block;
    margin-left: 60px;
    /* Dàn hàng ngangg */

}

#nav>li {
    display: inline-block;

}

#nav li {
    position: relative;
    list-style: none;

}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;

}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    display: block;
    padding: 0 24px;
}

/* Start Sub-menu CSS */

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover,
#nav>li:hover>a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;

}

.nav-arrow-down {
    font-size: 14px;
}

/* End Sub-menu CSS */

/* Start Icon Search CSS */

.header .search-btn {
    color: #fff;
    float: right;
    line-height: 46px;
    padding: 0 21px;
}

.header .search-btn:hover {
    background-color: #f44366;
    cursor: pointer;
}

/* End Icon Search CSS */

/* Start Slider Text CSS */
.text-slider {
    width: 100%;
    height: 24px;
    background-color: #f70c29;
}

.section {
    text-align: left;

}

.bg-gradient {
    color: black;
}

.slider {
    position: absolute;
    top: -40px;
    left: 70px;
     width: 100%;
    height: 40px;
}

.hot p {
    color: #fff;
    margin-left: 60px;

}

.box {
    padding: 20px;
    color: initial;
}

.box a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}


.hot {
    margin-left: 30px;
}

.hot p {
    line-height: 22px;
}

.slick-prev {
    position: absolute;
    right: -30px;
    left: -25px;
    background-color: black;
}

.slick-next {
    right: -25px;
    background-color: black;
}

/*End Slider Text CSS */

/* test */
.news {
    font-size: 20px;
    background-color: yellow;
    color: #fff;
}

/* Bai viet */




.center-box {
    margin: 0 auto;
    width: 50%;
}

#fb {
    
    width: 100%;
    background-color: #3B5998;
    height: 30px;
    color: #fff;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;
    cursor: pointer;

}
#gg {
    width: 100%;

    background-color: #4285F4;
    height: 30px;
    color: #fff;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;
    cursor: pointer;

}

#login {
    width: 100%;

    background-color: red;
    height: 30px;
    color: #fff;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;
    cursor: pointer;

}
.container h2 {
    text-align: center;
    margin-bottom: 5px;
}
.container h3 {
    font-size: 16px;
    margin-bottom: 5px;
}
#zl {
    width: 100%;
    cursor: pointer;
    background-color: #03A5FA;
    height: 30px;
    color: #fff;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;

}
.container input {
    padding: 5px 10px;
    width: 100%;
   border: 1px solid grey;
    margin-bottom: 10px;
    border-radius: 3px;
}

.container a {
    text-decoration: none;
    color: #000;
    
}
.container span {
    color: blue;
}



.footer1 img {
    width: 50%;
}
.footer1 {
    text-align: center;
}
.footer1 h4 {
    justify-content: center;
}




.nav-overplay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIns linear 0.4s;
}

.nav-mobile {
    position: fixed;
    top: 64px;
    left: 110px;
    bottom: 0;
    height: 293px;
    width: 320px;
    max-width: 100%;
    background-color: rgb(200, 200, 200, 1);
    transform: translateX(-137%);
    opacity: 0;
    transition: transform linear 0.4s, opacity linear 0.6s;
}
#nav-list-mobile li:hover {
    background-color: #4D9FA9;
}
.nav-close-icon {
    width: 28px;
    height: 28px;
    float: right;
    margin-right: 20px;
    fill: #0b7dda;

}
.nav-icon-btn {
    margin: 5px 15px;
    width: 28px;
    height: 28px;
    color: #ccc;
    float: left;
    display: none;
    fill: #fff
}
#nav-input-mobile {
    display: none;
}

#nav-input-mobile:checked~.nav-overplay {
    display: block;
}

#nav-input-mobile:checked~.nav-mobile {
    transform: translateX(-20%);
    opacity: 1;

}

.nav-mobile li {
    padding: 15px;
    font-size: 1rem;
    list-style: none;
}

.nav-mobile li a {
    text-decoration: none;
}

@keyframes fadeIns {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.center-note {
    display: block;
text-align: center;}